.base {
  --widget-background-color: transparent;
  --widget-border-radius: 0;
  --widget-padding: 0;
  --grid-gap: 0.5rem;
}

.widgetWrapper {
  --dynamic-width: 280px;
  &:has(> :nth-child(4):last-child) {
    --dynamic-width: 260px;
  }
  &:has(> :nth-child(5):last-child) {
    --dynamic-width: 240px;
  }
  display: grid;
  grid-template-columns: repeat(auto-fit, min(100%, var(--dynamic-width)));
  justify-content: center;
  gap: var(--grid-gap);
  margin-bottom: 2rem;

  /* Apply theme-specific styling */
  background-color: var(--widget-background-color);
  border-radius: var(--widget-border-radius);
  padding: var(--widget-padding);
}

/* Card overrides for widget specifically */
.widgetWrapper > div {
  max-width: 100%;
  min-height: var(--card-min-height);
}
