.title {
  color: var(--color-primary);
  font-family: var(--font-family-heading);
  font-size: 1.5rem;
  margin-bottom: 0;
}
.title span {
  font-weight: 600;
}
.description p {
  line-height: 24px !important;
}
.datapoint {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.datapointLabel {
  color: var(--color-secondary);
  line-height: 24px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  margin: 0;
  padding: 0 !important;
}
.datapointValue {
  line-height: 24px !important;
  margin: 0;
  padding: 0 0 0 1rem;
}
.linkedItemsList {
  color: var(--color-primary);
  line-height: 24px !important;
  margin: 0;
  padding: 0;
}

.linkedItemsList li a {
  color: inherit;
  text-decoration: none;
}
.linkedItemsList li a:hover {
  text-decoration: none;
}
.suggestLink {
  margin-bottom: 2rem;
  justify-self: end;
}

.emptyListMessage {
  font-style: italic;
  list-style: none;
  margin: 0.75rem 0 0;
  padding: 0;
}

.suggestLinkWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.sidebar {
  margin-top: 2rem;
  background-color: var(--sidebar-bg);
  border-radius: var(--sidebar-border-radius);
  height: fit-content;
}

@media (min-width: 830px) {
  .title {
    font-size: 2rem;
    font-weight: 400 !important;
    line-height: 2.75rem;
    margin-top: 0%;
    padding: 0 0 1rem 0;
    text-align: center;
  }
  .emptyListMessage {
    margin: 0;
    padding: 0;
  }
}
