.contentMiddle {
  margin-bottom: 1rem;
}

.imgWrapper {
  height: var(--img-height);
  overflow: hidden;
}

.img {
  height: var(--img-height);
  object-fit: contain;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.shortDesc {
  color: var(--card-text-color-mid);
  font-size: 14px;
  line-height: 18px !important;
  text-align: center;
  margin: 0;
}
