.title {
  color: var(--color-secondary);
  font-family: var(--font-heading);
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 0;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.datapoints {
  background: var(--color-accent);
  border-radius: var(--theme-badge-border-radius);
  max-width: 100%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.mainContent > img {
  height: fit-content;
  width: 100%;
}

.htmlDescription {
  flex: 1;
  line-height: 24px;
  margin-bottom: 20px;
}

@media (min-width: 830px) {
  .title {
    font-size: 2rem;
    line-height: 2.75rem;
    margin-top: 2rem;
    padding: 0 0 1rem 0;
    text-align: center;
  }

  .mainContent {
    flex-direction: row;
    justify-content: space-between;
  }

  .mainContent > img {
    margin-right: 3rem;
    width: 50%;
  }
}
