html {
  font-size: var(--font-size-base, 16px); /* 1rem = 16px */
}

.wrapper {
  background: #fff;
  display: block;
  box-sizing: border-box;
  height: var(--page-height);
  min-height: var(--page-min-height);
  min-width: var(--page-min-width);
  margin: 0.5rem 0;
  max-width: 100%;
  overflow: hidden;
  padding: var(--page-padding);
  position: relative;
  width: 100%;
}

@media (min-width: 960px) {
  .wrapper {
    margin: 0.5rem auto;
    width: var(--page-max-width);
  }
}
