.primary {
  background-color: var(--color-primary);
}

.secondary {
  background-color: var(--color-secondary);
}

.linkButton {
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  margin: 3px 0 0;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  width: fit-content !important;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

.linkButton:hover {
  opacity: 0.8;
}

.linkButton.xsmall {
  font-size: 12px;
  padding: 4px 8px;
}

.linkButton.small {
  font-size: 1rem;
  padding: 6px 10px;
}

.linkButton.isCentered {
  margin: 3px auto;
}

.linkButton svg {
  margin-right: 8px;
}
