.desc {
  color: var(--card-text-color-mid);
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  width: 100%;
}

.title {
  line-height: 20px;
}

.titleWithAuthor {
  margin: 0 0 0.75rem;
}

.authorTitleContainer {
  width: 100%;
  margin-bottom: 1rem;
}
